.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
}


.card {
  border: 2px solid #e7e7e7;
  border-radius: 2px;
  padding: 0.3rem;
}
.card-img-top {
  border-image-width: auto;
  max-height: 100rem;
}

.sidebar {
  background-color: #f5f5f5;
  padding-right: 210px;
  padding-top: 20px;
  min-height: calc(283vh - 50px);
}
